{% extends "core/base.html" %}

{% load bootstrap3 %}

{% block bootstrap3_title %}
<title>Login</title>
{% endblock %}

{% block bootstrap3_content %}
    <!-- <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/examples/signin/signin.css"> -->
    {# <div class="row"> #}

    <div class="container" style="width: 400px"> 
        <div class="login_form">
            <center><h2>Login</h2></center></br>
            {% csrf_token %}
            <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {# {{ form.as_p }} #}
        {% buttons %}
        <input type="submit" value="Entrar" class="btn btn-success btn-lg btn-block">
        {% endbuttons %}
    </form>
    {% buttons %}
        <a href="/"><input type="submit" value="Home" class="btn btn-success btn-lg btn-block"></a>
        {% endbuttons %}
         </div> <!--Encerra class -->   
    </div><!-- Encerra container-->
    {# </div><!-- Encerra row--> #}

{% endblock %}