{% extends "core/base.html" %}

{% load bootstrap3 %}

{% block bootstrap3_title %}
<title>Cadastro</title>
{% endblock %}

{% block bootstrap3_content %}
    <div class="container">
    {% if user.is_staff %}
         {% buttons %}
        <a href="/campo/add/" width="600px"><input type="submit" value="Adicionar Campo" class="btn btn-default btn-lg btn-block"></a>
        {% endbuttons %}
<div style="width: 1200px">
    <div style="float: left; width: 400px;">
         <ul class="list-group" style="width: 350px">
         {% for campo in lista_campos %}
            <li class="list-group-item">
                <span class="badge">Reservas<br>14</span>
                <h4>{{ campo.nome }}</h4>
                {{ campo.descricao }}<br>
                Disponível das: {{ campo.horario_disponivel_de }} às
                {{ campo.horario_disponivel_ate }}
                <br><br>
                <a href="/campo/{{ campo.pk }}/delete/"><button type="submit" class="btn btn-success">Deletar</button></a>
                <a href="/login/"><button type="submit" class="btn btn-success">Reservas</button></a>
                <a href="/login/"><button type="submit" class="btn btn-success">Editar</button></a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div style="float: left; width: 400px;">
        <ul class="list-group" style="width: 350px">
         {% for client in lista_clientes %}
            <li class="list-group-item">
                <span class="badge">Reservas<br>14</span>
                <h4>{{ client.nome }}</h4>
                {{ client.email }}<br>
                {{ client.telefone }}
                <br><br>
                <a href="/login/"><button type="submit" class="btn btn-success">Deletar</button></a>
                <a href="/login/"><button type="submit" class="btn btn-success">Reservas</button></a>
                <a href="/login/"><button type="submit" class="btn btn-success">Editar</button></a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

    {% endif %}
    </div>
{% endblock %}